<h1>Create your swashbuckler!</h1>

<form method="POST" action="/pirate">
  Pirate Name: <input type="text" name="student[name]">
  Pirate Weight: <input type="text" name="student[grade]">
  Pirate Height: <input type="text" name="student[grade]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  Course Name: <input type="text" name="student[courses][][name]">
  Course Topic: <input type="text" name="student[courses][][topic]">
  <input type="submit">
</form>