<h1>Create your swashbuckler!</h1>

<form method="POST" action="/pirate">
  <label for="name">Pirate Name: </label><input type="text" name="pirate[name]">
  <label for=Pirate Weight: <input type="text" name="pirate[weight]">
  <label for=Pirate Height: <input type="text" name="pirate[height]">
  <label for=Ship Name: <input type="text" name="pirate[ships][][name]"> 
  <label for=Ship Type: <input type="text" name="pirate[ships][][type]">
  <label for=Ship Booty: <input type="text" name="pirate[ships][][booty]">
  <label for=Ship Name: <input type="text" name="pirate[ships][][name]">
  <label for=Ship Type: <input type="text" name="pirate[ships][][type]">
  <label for=Ship Booty: <input type="text" name="pirate[ships][][booty]">
  <input type="submit">
</form>