<h1>Create your swashbuckler!</h1>

<form method="POST" action="/pirate">
  Pirate Name: <input type="text" name="pirate[name]">
  Pirate Weight: <input type="text" name="pirate[weight]">
  Pirate Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="pirate[ships][][name]"> 
  Ship Type: <input type="text" name="pirate[courses][][topic]">
  Ship Booty: <input type="text" name="pirate[courses][][name]">
  Ship Name: <input type="text" name="pirate[courses][][topic]">
  Ship Type: <input type="text" name="pirate[courses][][topic]">
  Ship Booty: <input type="text" name="pirate[courses][][name]">
  <input type="submit">
</form>